@{
    ViewData["Title"] = "Home";
}

<section class="hero-section">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1 class="animate-fade-in">Istoria <span>Coffee</span></h1>
    </div>
</section>
